{% load static %}

<footer>
            <div class="footer_1">
                <div class="f1">
                    <h2 id="logo_footer">Freelancer Manager</h1>
                        <p class="p_footer">Suspendisse ornare malesuada ex, id interdum nunc auctor eu. Morbi est dolor.</p>
                </div>
                <div class="f2">
                    <h3 id="h3_f2">Contact Us</h3>
                    <p class="p_footer"><b>Email</b>: wictortec@gmail.com</p>
                    <br>
                    <p class="p_footer"><b>WhatsApp</b>: (81) 991021317</p>
                    <img src="static/images/whatsapp_icon.png" class="icon_footer">
                    <img src="static/images/message_icon.png" class="icon_footer">
                    </div>
                <div class="f3">
                    <form>
                        <h3 id="h3_f2">Subscribe newsletter</h3>
                        <input type="email" placeholder="Your best email" class="input_f3">
                        <br>
                        <div class="footer_btn"><a href="#"><b>SUBSCRIBE</b></a></div>
                        <!--<button class="button_f3"><b>SUBSCRIBE</b></button>-->
                    </form>
                </div>
            </div>
            <div class="footer_2">
                <p class="p_footer2">Copyright Wictor Tec&reg;. All rights reserved.</p>
            </div>

        </footer>